@attribute [GenerateReact]
@using ImageComments.Grpc
@inject Greeter.GreeterClient GreeterClient

<div class="overlay">
	<div class="popup">
		<a class="close" @onclick="CustomCallback">&times;</a>
		<h2>@Title</h2>
		<div class="content">
			<img src="@Url" />
            <p>Image id: @Id</p>
		</div>
		<div class="comment-form">
			@message
		</div>
	</div>
</div>
@code {   
	string message;
    [Parameter] public string? Title { get; set; }
    [Parameter] public string? Url { get; set; }
    [Parameter] public string? Id { get; set; }
    [Parameter] public EventCallback<MouseEventArgs> CustomCallback { get; set; }

	protected async override Task OnInitializedAsync()
	{
		// sync or async code
		var response = await GreeterClient.SayHelloAsync(new HelloRequest{ Name = "from gRPC service called from Blazor"} );
		message = response.Message;
	}
}
